#header {
    text-align: left;}

#name {
    position: relative;
    left:1.5%;
    font-size: 2em;}

#hamburger {
    display:none;}

#emailHeader {
    display: inline-block;
    font-size: 1.2em;
    position: absolute;
    right: 30px;
    top: 25px;
  	font-weight:300;}

#coverphoto {
    display: block;}

#navContainer {
    display: table;
    background-color: #657b95;
    margin-bottom: 5%;
    margin: auto;
    text-align:center;
    width:100%;}

.navLinks {
    /*box-shadow: 1px 1px 10px #4a4a4a;*/
    border-radius: 0px; 
    text-decoration: none;
    color:white;
    text-align: center;
    height:50px;
    width:20%;
    display:table-cell;
    font-size: 1.5em;
    position:relative;
    background-color:transparent;
    line-height: 50px;}

/*box-shadow: 1px 1px 10px #4a4a4a;*/
.navLinks:hover {
    background-color: #b5c0cd;
    color:#2e3038; }
