#jumbo {
    height:600;
}

#about {
}

.portfolio {

}


.portfolio-item {
width: 30%;
}

.portfolio-item > img {
}

/*#resumeContainer {
    width:70%;
    float:left;
    display: block;
}

#technologies {
    width:28%;
    float:right;
    display: block;
}


#about {
    width:28%;
    float:right;
    display: block;
}
